.button_td {
    padding-bottom: 11px;
    padding-left: 7px
}

.rounded_box {
    border-radius: 12px;
    background-color: #F1F1F1;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.rounded_box_blue {
     border-radius: 12px;
     background-color: #E6F2FC;
     padding-left: 13px;
     padding-right: 13px;
     padding-top: 5px;
     padding-bottom: 7px;
     margin-bottom: 20px;
}

.rounded_box_red {
    border-radius: 12px;
    background-color: #FFE0E0;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.float_right {
    float: right;
}

.center-search{
    margin-top: 5px;
}

.td_right_padding{
    padding-right: 8px;
}