.no_decoration:hover, .no_decoration:visited, .no_decoration:active,
.no_decoration:focus, .no_decoration:link{
    color: #FFFFFF;
    text-decoration: none;
    outline: 0;
}

.button_td {
    padding-bottom: 11px;
    padding-left: 7px
}

.rounded_box {
    border-radius: 12px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: 20px;
}

.fill_gray {
    background-color: #F1F1F1;
}

.fill_white {
    background-color: #ffffff;
}

.fill_blue {
    background-color: #E6F2FC;
}

.fill_green {
    background-color: #DFF0D8;
}

.fill_red {
    background-color: #FFE0E0;
}

.float_right {
    float: right;
}

.center-search{
    margin-top: 5px;
}

.td_right_padding{
    padding-right: 8px;
}

.scrollable {
    max-height: 300px;
}