{% extends 'base.html' %}

{% block section_title %}
    Administración de Canales
{% endblock %}

{% block section_body %}
<div class="row-fluid">
    <div class="span8">
        <input type="hidden" id="channel_added" value="{{ channel_added }}">
        {% if channel_list %}
        <table class="table" id="channel_list_table">
            <thead>
            <tr>
                <th>
                    Canales
                </th>
                <th>
                    Retweets automáticos
                </th>
                <th>
                    Tweets programados
                </th>
                <th>
                    Hashtags
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
            </thead>
            <tbody id="channel_list_tbody">

                {% for channel in channel_list %}
                
                <tr  id='channel_row_{{ channel.screen_name }}'>
                    <td><a href="{% url 'edit_channel' channel.screen_name %}"/>{{ channel.screen_name }}</a></td>

                    <td> {% if channel.retweets_enabled %} Sí {% else %} No {% endif %} </td>
                    <td> {% if channel.retweets_enabled %} Sí {% else %} No {% endif %} </td>
                    <td> {% if channel.hashtags_enabled %} Sí {% else %} No {% endif %} </td>
                    <td> <a id='delete_channel_{{ channel.screen_name }}' class='delete_channel' title='Haga click para eliminar canal' href='#delete_confirm_modal' data-toggle='modal'><span class='badge badge-important' contenteditable='false'>x</span></a></td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <span id="no_channels_message">No hay canales suscritos</span> <br><br>
        {% endif %}<!-- end if channel_list.length -->
        <a id="call_twitter_auth" href="#" role="button" class="btn btn-primary" data-toggle="modal">Agregar canal</a>

    </div> <!-- end span8 -->
    <div class="span4">
        {% if notification_list %}
        <span class="label">Notificaciones</span>
        <br><br>
        <ul>
            {% for notification in notification_list %}
                <li>{{ notification.time}}: {{ notification.description }}</li>
            {% endfor %}
        </ul>
        <!--<a style="float:right" href="#" >Ver historial</a>-->
        {% endif %}
    </div>
</div>  <!-- end row-fluid -->

<div id="delete_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            Eliminar Canal
        </h3>
    </div>
    <div class="modal-body">
        <p>
            Está seguro de que desea eliminar el canal  <span id="deleting_channel_id"></span> ?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_channel_confirmed">Sí, eliminar</button>
    </div>
</div>
{% endblock %} <!-- endblock section_body -->

{% block page_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/accounts/script.js"></script>
{% endblock %}

{% block modal_header %}
    Agregar canal
{% endblock %}
{% block modal_body %}
<!--
<form>
    <fieldset>
        <legend>Agregar canal</legend>
        <label>Nombre de usuario en Twitter (sin la @)</label>
        <input id="screen_name" type="text" />
        <label class="checkbox"><input type="checkbox" checked="checked" /> Activar servicio</label>
        <br>
        <a id="call_twitter_auth" class="btn btn-primary btn-small">Suscribir</a>
        <input type="hidden" id="oauth_token">
        <input type="hidden" id="oauth_token_secret">
    </fieldset>
</form>
-->
{% endblock %}

{% block right_column %}

{% endblock %}
