{% extends 'base.html' %}

{% block section_title %}
    Administración de Canales
{% endblock %}

{% block section_body %}
<table class="table">
    <thead>
    <tr>
        <th>
            Canal
        </th>
        <th>
            Último tweet
        </th>
        <th>
            Status
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="success">
        <td>
            <a href="#">@trafficVzla</a>
        </td>
        <td>
            17/09/13 15:30:05   "Ola ke ase?..."
        </td>
        <td>
            <a title="Haga click para   desactivar" class="channel_row" id="chan_9_row" href="#"><span class="label label-success">activo</span></a>
        </td>
        <td>
            <a title="Haga click para eliminar canal" href="#"><span id="channel_9_delete" class="badge badge-important" contenteditable="false">x</span></a>
        </td>

    </tr>

    </tbody>
</table>
<a id="modal-206857" href="#modal-container-206857" role="button" class="btn btn-primary" data-toggle="modal">Agregar canal</a>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/home/script.js"></script>
{% endblock %}

{% block modal_header %}
    Agregar canal
{% endblock %}
{% block modal_body %}
<form>
    <fieldset>
        <!--<legend>Agregar canal</legend>-->
        <label>Nombre de usuario en Twitter (sin la @)</label>
        <input id="screen_name" type="text" /> <!--<span class="help-block">Nombre de la cuenta de Twitter a suscribir</span>-->
        <label class="checkbox"><input type="checkbox" checked="checked" /> Activar servicio</label>
        <br>
        <a id="call_twitter_auth" class="btn btn-primary btn-small">Suscribir</a>
        <input type="hidden" id="oauth_token">
        <input type="hidden" id="oauth_token_secret">
    </fieldset>
</form>
{% endblock %}