<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Canales de twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
  
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
</head>

<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>
					Twitter Channels <small>Sistema de filtrado automático</small>
				</h1>
			</div>
			<div class="alert alert-success" style="display: none">
				 <button type="button" class="close" data-dismiss="alert">×</button>
				<h4>
					Alert!
				</h4> <strong>Warning!</strong> Best check yo self, you're not looking too good.
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Configuración</a>
				</li>
                <!--
				<li class="disabled">
					<a href="#">Messages</a>
				</li>
				-->

			</ul>
			<div class="row-fluid">
				<div class="span8">
					<h3>
						Dashboard
					</h3>
					<table class="table">
						<thead>
							<tr>
								<th>
									#
								</th>
                                <th>
                                    Usuario
                                </th>
								<th>
									Texto
								</th>
								<th>
									Fecha
								</th>
								<th>
									Status
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="warning">
								<td>
									1
								</td>
                                <td>
                                    @TweetMaster5555
                                </td>
								<td>
									Esto es una prueba lalalala...
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Pending
								</td>
							</tr>
							<tr class="success">
								<td>
									1
								</td>
                                <td>
                                    @jackboot7
                                </td>
								<td>
									Tráfico fuerte en la libertador
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Approved
								</td>
							</tr>
							<tr class="error">
								<td>
									2
								</td>
                                <td>
                                    @trollFace
                                </td>
								<td>
									Muera chávez no joda!!!
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									Declined
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="span4">
					 <span class="label">Notificaciones</span>
                    <br><br>
					<ul>
						<li>
							01/07/13 17:53:00 El usuario @trollFace fue bloqueado por "uso de palabras inadecuadas"
						</li>
						<li>
							01/07/13 18:00:04 El temporizador de tweets entró en condición: <span style="color: orange;">Naranja</span>
						</li>
						<li>
                            01/07/13 18:15:18 El temporizador de tweets volvió a su condición normal.
						</li>
					</ul>

                    <a style="float:right" href="#" class="btn btn-small btn-primary" type="button">Ver historial</a>
				</div>
			</div>
            <!-- MODAL DIALOG -->
            <!--
			<a id="modal-206857" href="#modal-container-206857" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
			-->
			<div id="modal-container-206857" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						Modal header
					</h3>
				</div>
				<div class="modal-body">
					<p>
						One fine body…
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> <button class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
