{% extends 'base.html' %}

{% block section_title %}
    Opciones de canal: @{{ channel.screen_name }}
{% endblock %}

{% block section_body %}
<input type="hidden" id="current_channel" value="{{ channel.screen_name }}" xmlns="http://www.w3.org/1999/html">

<ul class="nav nav-tabs" id="channel_nav">
    {% block nav_bar %}
        <!--
        <li>
            <a>Monitor</a>
        </li>-->
        <!--
        <li>
            <a href="#">Seguidores</a>
        </li>-->
        <li id="nav_tab_home" class="active">
            <a href="#">Retweets automáticos</a>
        </li>
        <li>
            <a href="/scheduling/edit/{{ channel.screen_name }}">Tweets programados</a>
        </li>
        <li>
            <a href="/hashtags/edit/{{ channel.screen_name }}">Hashtags</a>
        </li>

        <!--
        <li>
            <a>
                Colaboradores
            </a>
        </li>-->

        <li class="disabled" id="nav_tab_config">
            <!--<a href="#">Configuración</a>-->
        </li><!--
<li class="disabled">
    <a href="#">Messages</a>
</li>
-->
    {% endblock %} <!-- endblock nav_bar -->
</ul>

<div class="row-fluid">
    <div class="span5 rounded_box fill_white">
        <fieldset>
            <legend>Configuración</legend>
            El módulo de retweets automáticos está:
            <a class="no_decoration" id="switch_retweets_btn" title='' >
                &nbsp;<span id="switch_retweets_label" class='label' ></span>
            </a>
        </fieldset>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 rounded_box fill_white">
        <fieldset>
            <label class="checkbox">
                <input type="checkbox" id="activate_timeblocks_check"> Activar horarios de publicación
            </label>
            <label class="checkbox">
                <input type="checkbox" id="activate_blacklist_check"> Activar bloqueo de usuarios en lista negra
            </label>
        </fieldset>
    </div>
    <div class="span4 rounded_box fill_white">
        <fieldset>
            <label class="checkbox">
                <input type="checkbox" id="activate_triggers_check"> Activar disparadores
            </label>
            <label class="checkbox">
                <input type="checkbox" id="activate_replacements_check"> Activar supresores
            </label>
            <label class="checkbox">
                <input type="checkbox" id="activate_filters_check"> Activar filtrado por retenedores
            </label>
        </fieldset>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 rounded_box fill_white">
        <fieldset>
            <label class="checkbox">
                <input type="checkbox" id="activate_prevent_update_limit_check"> Activar prevención de update limit
            </label>
        </fieldset>
    </div>
</div>

<div class="row-fluid">

    <div class="span6" id="left_column"> <!-- left column -->

        <div class="rounded_box fill_blue" id="timeblocks_box" style="display:none">



            <h4>Horarios de publicación</h4>

            <div id="timeblock_list">
                <span>El canal publicará automáticamente en los siguientes horarios:</span>

                <div id="timeblock_list_div" class="scrollable">
                    <table class="table" id="timeblock_list_table">
                        <thead>
                            <tr>
                                <th>Horario</th><th>Días</th><th>DM/Mentions</th><th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="timeblock_list_tbody">

                        </tbody>

                    </table>
                </div>
            </div>

            <span id="no_timeblocks_message">
                Actualmente se publican los tweets sin restricción de horario
            </span>
            <br><br>
            <a id="add_timeblock_btn" href="#add_timeblock_modal" class="btn btn-primary btn-small" data-toggle='modal'>Agregar horario</a>

            <div id="add_timeblock_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <input type="hidden" id="editing_timeblock_id">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="timeblock_modal_title">
                        Añadir horario
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="span6">

                        <table>
                            <tr>
                                <td><label>Hora de inicio: </label></td>
                                <td>
                                    <input type="text" class="input-mini" id="start_timepicker">
                                </td>
                            </tr>
                            <tr>
                                <td><label>Hora de fin: </label></td>
                                <td>
                                    <input type="text" class="input-mini" id="end_timepicker">
                                </td>
                            </tr>
                        </table>
                        <br>
                        <h5>Permitir:</h5>
                        <div class="checkbox">
                            <label><input type="checkbox" id="allow_mentions_check"> Retweet de mentions</label>
                            <label><input type="checkbox" id="allow_dm_check"> Retweet de DMs (mensajes directos)</label>
                        </div>

                    </div>
                    <div class="span1"></div>
                    <div class="span5" id="weekdays_select_div">
                        <h5>Días de la semana</h5>
                        <label class="checkbox"><input type="checkbox" id="monday_check"> Lunes</label>
                        <label class="checkbox"><input type="checkbox" id="tuesday_check"> Martes</label>
                        <label class="checkbox"><input type="checkbox" id="wednesday_check"> Miércoles</label>
                        <label class="checkbox"><input type="checkbox" id="thursday_check"> Jueves</label>
                        <label class="checkbox"><input type="checkbox" id="friday_check"> Viernes</label>
                        <label class="checkbox"><input type="checkbox" id="saturday_check"> Sábado</label>
                        <label class="checkbox"><input type="checkbox" id="sunday_check"> Domingo</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_timeblock_btn">Guardar</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                </div>
            </div>

            <div id="delete_timeblock_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>
                        Eliminar Horario
                    </h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="deleting_timeblock_id" value="">
                    <p>
                        Está seguro de que desea eliminar el horario seleccionado ?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_timeblock_confirmed">Sí, eliminar</button>
                </div>
            </div>
        </div>
        <!-- Fin horarios de publicación -->

        <div class="rounded_box fill_gray" id="blocked_user_groups_box"  style="display:none">
            <h4>Grupos de usuarios bloqueados</h4>
            <div class="scrollable" id="blocked_user_group_list_div">
                <table class="table" id="blocked_user_group_list_table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th id="unlink_blocked_user_header">Desvincular</th>
                    </tr>
                    </thead>
                    <tbody id="blocked_user_group_list_tbody">
                    </tbody>
                </table>
            </div>

            <br>

            <a id="link_blocked_user_groups_btn" href="#link_blocked_user_groups_modal" class="btn btn-primary btn-small" data-toggle='modal'>Asociar grupos</a>
            
        </div>
    </div>

    <div class="span6" id="right_column">
        <div class="rounded_box fill_green" id="trigger_groups_box" style="display:none">
            <h4>Grupos de disparadores</h4>

            <div class="scrollable" id="trigger_group_list_div">
                <table class="table" id="trigger_group_list_table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th id="unlink_trigger_header">Desvincular</th>
                        </tr>
                    </thead>
                    <tbody id="trigger_group_list_tbody">
                    </tbody>
                </table>
            </div>
            
            <br>

            <a id="link_trigger_groups_btn" href="#link_trigger_groups_modal" class="btn btn-primary btn-small" data-toggle='modal'>Asociar grupos</a>
        </div> 

        <div class="rounded_box fill_yellow" id="replacement_groups_box" style="display:none">
            <h4>Grupos de supresores</h4>

            <div class="scrollable" id="replacement_group_list_div">
                <table class="table" id="replacement_group_list_table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th id="unlink_replacement_header">Desvincular</th>
                    </tr>
                    </thead>
                    <tbody id="replacement_group_list_tbody">
                    </tbody>
                </table>
            </div>
            
            <br>

            <a id="link_replacement_groups_btn" href="#link_replacement_groups_modal" class="btn btn-primary btn-small" data-toggle='modal'>Asociar grupos</a>

        </div> <!-- end rounded box -->


        <div class="rounded_box fill_red" id="filter_groups_box" style="display:none">
            <h4>Grupos de retenedores</h4>

            <div class="scrollable" id="filter_group_list_div">
                <table class="table" id="filter_group_list_table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th id="unlink_filter_header">Desvincular</th>
                    </tr>
                    </thead>
                    <tbody id="filter_group_list_tbody">
                    </tbody>
                </table>
            </div>

            <br>

            <a id="link_filter_groups_btn" href="#link_filter_groups_modal" class="btn btn-primary btn-small" data-toggle='modal'>Asociar grupos</a>

        </div> <!-- end column (span6) -->
    </div> <!-- end column -->

</div> <!-- end row-fluid -->

<div class="row-fluid">
    <div class="span12"></div>
</div>

<div class="row-fluid">
    <!-- Filters -->
    <div class="span6">
    </div>
</div> <!-- end row-fluid -->
<br>
<br>
<a href="/">Volver al inicio</a>
<br>
<br>
<br>

<div id="view_trigger_group_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <input type="hidden" id="viewing_trigger_group_id" value="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="trigger_group_modal_title">
            <span id="viewing_trigger_group_name"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="span8">
            <div class="rounded_box fill_green">
                <h4>Disparadores</h4>

                <div class="scrollable" id="trigger_list_div">
                    <table class="table" id="trigger_list_table" style="display:none">
                        <thead>
                            <tr>
                                <th>Texto</th>
                                <th id="delete_trigger_header">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="trigger_list_tbody">
                        </tbody>
                    </table>
                </div>
                <span id="no_triggers_message">El grupo no contiene disparadores</span> <br><br>

                <table id="add_trigger_btn_table">
                    <tr>
                        <td><input type="text" id="add_trigger_text"></td>
                        <td class="button_td"> &nbsp;<a id="add_trigger_btn" class="btn btn-primary btn-small">Agregar</a></td>
                    </tr>
                </table>
            </div> <!-- end rounded box -->
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div> <!-- View trigger group modal -->


<div id="view_replacement_group_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <input type="hidden" id="viewing_replacement_group_id" value="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="replacement_group_modal_title">
            <span id="viewing_replacement_group_name"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="span8">
            <div class="rounded_box fill_yellow">
                <h4>Supresores</h4>

                <div class="scrollable" id="replacement_list_div">
                    <table class="table" id="replacement_list_table" style="display:none">
                        <thead>
                            <tr>
                                <th>Texto</th>
                                <th>Remplazar por</th>
                                <th id="delete_replacement_header">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="replacement_list_tbody">
                        </tbody>
                    </table>
                </div>
                <span id="no_replacements_message">El grupo no contiene supresores</span> <br><br>

                <table id="add_replacement_btn_table">
                    <tr>
                        <td><input placeholder="sustituir" class="input-small" type="text" id="add_replacement_text"></td>
                        <td><input placeholder="por" class="input-small" type="text" id="add_replacement_replace_with"></td>
                        <td class="button_td" rowspan="2"><a id="add_replacement_btn" class="btn btn-primary btn-small">Agregar supresor</a></td>
                    </tr>
                </table>
            </div> <!-- end rounded box -->
        </div> <!-- end span -->
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div> <!-- View replacement group modal -->


<div id="view_filter_group_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <input type="hidden" id="viewing_filter_group_id" value="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="filter_group_modal_title">
            <span id="viewing_filter_group_name"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="span8">
            <div class="rounded_box fill_red">
                <h4>Retenedores</h4>

                <div class="scrollable" id="filter_list_div">
                    <table class="table" id="filter_list_table" style="display:none">
                        <thead>
                            <tr>
                                <th>Texto</th>
                                <th id="delete_filter_header">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="filter_list_tbody">
                        </tbody>
                    </table>
                </div>
                <span id="no_filters_message">El grupo no contiene retenedores</span> <br><br>

                <table id="add_filter_btn_table">
                    <tr>
                        <td><input type="text" id="add_filter_text"></td>
                        <td class="button_td"> &nbsp;<a id="add_filter_btn" class="btn btn-primary btn-small">Agregar</a></td>
                    </tr>
                </table>
            </div> <!-- end rounded box -->
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div> <!-- View filter group modal -->


<div id="view_blocked_user_group_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <input type="hidden" id="viewing_blocked_user_group_id" value="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="blocked_user_group_modal_title">
            <span id="viewing_blocked_user_group_name"></span>
        </h3>
    </div>
    <div class="modal-body">
        <div class="span8">
            <div class="rounded_box fill_gray">
                <h4>Usuarios bloqueados</h4>

                <div class="scrollable" id="blocked_user_list_div">
                    <table class="table" id="blocked_user_list_table" style="display:none">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th id="delete_blocked_user_header">Desbloquear</th>
                            </tr>
                        </thead>
                        <tbody id="blocked_user_list_tbody">
                        </tbody>
                    </table>
                </div>
                <span id="no_blocked_users_message">El grupo no contiene usuarios bloqueados</span> <br>

                <table id="add_blocked_user_btn_table">
                    <tr>
                        <td><input type="text" id="add_blocked_user_name" maxlength="15"></td>
                        <td class="button_td"> &nbsp;<a id="add_blocked_user_btn" class="btn btn-danger btn-small">Bloquear usuario</a></td>
                    </tr>
                </table>
            </div> <!-- end rounded box -->
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
</div> <!-- View blocked_user group modal -->


<div id="link_trigger_groups_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="add_channels_modal_title">
            Grupos de disparadores asociados al canal
        </h3>
    </div>
    <div class="modal-body">
        <div class="span11">
            <p>Seleccione uno o más grupos de disparadores para asociarlos al canal</p>
        </div>
        
        <div class="span11">
            {% if trigger_groups %}
            <select id="trigger_groups_select" name="trigger_groups_select" multiple="multiple">
                {% for group in trigger_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            {% else %}
                <span>No hay grupos de disparadores registrados</span>
            {% endif %}
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_trigger_groups_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- link trigger groups -->


<div id="link_replacement_groups_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            Grupos de supresores asociados al canal
        </h3>
    </div>
    <div class="modal-body">
        <div class="span11">
            <p>Seleccione uno o más grupos de supresores para asociarlos al canal</p>
            
        </div>
        
        <div class="span11">
            {% if replacement_groups %}
            <select id="replacement_groups_select" name="replacement_groups_select" multiple="multiple">
                {% for group in replacement_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            {% else %}
                <span>No hay grupos de supresores registrados</span>
            {% endif %}
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_replacement_groups_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- link replacement groups -->


<div id="link_filter_groups_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            Grupos de retenedores asociados al canal
        </h3>
    </div>
    <div class="modal-body">
        <div class="span11">
            <p>Seleccione uno o más grupos de retenedores para asociarlos al canal</p>
            
        </div>
        
        <div class="span11">
            {% if filter_groups %}
            <select id="filter_groups_select" name="filter_groups_select" multiple="multiple">
                {% for group in filter_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            {% else %}
                <span>No hay grupos de retenedores registrados</span>
            {% endif %}
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_filter_groups_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- link filter groups -->


<div id="link_blocked_user_groups_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            Grupos de usuarios bloqueados asociados
        </h3>
    </div>
    <div class="modal-body">
        <div class="span11">
            <p>Seleccione uno o más grupos de retenedores para asociarlos al canal</p>
            
        </div>
        
        <div class="span11">
            {% if filter_groups %}
            <select id="blocked_user_groups_select" name="blocked_user_groups_select" multiple="multiple">
                {% for group in blocked_user_groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
            {% else %}
                <span>No hay grupos de usuarios bloqueados registrados</span>
            {% endif %}
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_blocked_user_groups_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- link blocked_user groups -->

{% endblock %} <!-- endblock section_body -->

{% block page_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/filtering/script.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/filtering/channel_trigger_settings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/filtering/channel_filter_settings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/filtering/channel_replacement_settings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/filtering/channel_blocked_user_settings.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/filtering/channel_timeblock_settings.js"></script>

{% endblock %}

{% block modal_header %}
    <!-- hola -->
{% endblock %}

{% block modal_body %}
{% endblock %}

{% block right_column %}
{% endblock %}