{% extends 'base.html' %}

{% block section_title %}
    Opciones de canal: @{{ channel.screen_name }}
{% endblock %}

{% block section_body %}
    <input type="hidden" id="current_channel" value="{{ channel.screen_name }}" xmlns="http://www.w3.org/1999/html">

    <ul class="nav nav-tabs" id="channel_nav">
        {% block nav_bar %}
            <!--
            <li>
                <a>Monitor</a>
            </li>-->
            <!--
            <li>
                <a href="#">Seguidores</a>
            </li>-->
            <li id="nav_tab_home">
                <a href="/filtering/edit/{{ channel.screen_name }}">Retweets automáticos</a>
            </li>

            <li class="active">
                <a href="#">Tweets programados</a>
            </li>

            <li>
                <a href="/hashtags/edit/{{ channel.screen_name }}">Hashtags</a>
            </li>

            <!--
            <li>
                <a>
                    Colaboradores
                </a>
            </li>-->

            <li class="disabled" id="nav_tab_config">
                <!--<a href="#">Configuración</a>-->
            </li><!--
<li class="disabled">
    <a href="#">Messages</a>
</li>
-->
        {% endblock %} <!-- endblock nav_bar -->
    </ul>

    <div class="row-fluid">
        <div class="span5 rounded_box fill_white">
            El módulo de tweets programados está:
            <a class="no_decoration" id="switch_scheduling_btn" title=''>
                &nbsp;<span id="switch_scheduling_label" class='label' ></span>
            </a>
        </div>
    </div>

    <div class="row-fluid">

        <div class="span6"> <!-- left column -->
            <div class="rounded_box fill_gray">
                <h4>Bloques de publicación automática</h4>

                <div id="scheduled_post_list">
                    <span>El canal publicará automáticamente los siguientes mensajes:</span>

                    <table class="table" id="scheduled_post_list_table">
                        <thead>
                        <tr>
                            <th>Mensaje</th><th>Hora y fecha</th>
                        </tr>
                        </thead>
                        <tbody id="scheduled_post_list_tbody">

                        </tbody>

                    </table>
                </div>

            <span id="no_scheduled_posts_message">
                Actualmente no hay bloques de publicación automática
            </span>
                <br><br>
                <a id="add_scheduled_post_btn" href="#add_scheduled_post_modal" class="btn btn-primary btn-small" data-toggle='modal'>Agregar mensaje automático</a>

                <div id="add_scheduled_post_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <input type="hidden" id="editing_scheduled_post_id">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="scheduled_post_modal_title">
                            Añadir tweet programado
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="span8">
                            <table>
                                <tr>
                                    <td class="td_right_padding"><label>Mensaje: </label>
                                        <span class="float_right" id="tweet_char_count"></span></td><td><textarea id="scheduled_post_text"></textarea></td>
                                </tr>
                                <tr>
                                    <td><label>Hora de publicación: </label></td>
                                    <td><!--<select class="input-mini" id="start_hour_select"></select>-->
                                        <!--<select class="input-mini" id="start_minute_select"></select>-->
                                        <input type="text" class="input-mini" id="scheduled_post_timepicker">
                                    </td>
                                </tr>
                            </table>
                            <br>

                        </div>

                        <div class="span4" id="weekdays_select_div">
                            <label class="checkbox"><input type="checkbox" id="monday_check"> Lunes</label>
                            <label class="checkbox"><input type="checkbox" id="tuesday_check"> Martes</label>
                            <label class="checkbox"><input type="checkbox" id="wednesday_check"> Miércoles</label>
                            <label class="checkbox"><input type="checkbox" id="thursday_check"> Jueves</label>
                            <label class="checkbox"><input type="checkbox" id="friday_check"> Viernes</label>
                            <label class="checkbox"><input type="checkbox" id="saturday_check"> Sábado</label>
                            <label class="checkbox"><input type="checkbox" id="sunday_check"> Domingo</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_scheduled_post_btn">Guardar</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    </div>
                </div> <!-- Add scheduled_post modal -->

                <div id="delete_scheduled_post_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>
                            Eliminar mensaje automático
                        </h3>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="deleting_scheduled_post_id" value="">
                        <p>
                            Está seguro de que desea eliminar el bloque de publicación seleccionado?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_scheduled_post_confirmed">Sí, eliminar</button>
                    </div>
                </div> <!-- delete scheduled_post modal -->

                <div id="send_now_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>
                            Enviar ahora
                        </h3>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="sending_now_tweet_id" value="">
                        <p>
                            El siguiente mensaje se publicará de manera inmediata:
                        </p>
                        <p><blockquote><span class="" id="sending_now_tweet_text"></span></blockquote></p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="send_now_confirmed">Enviar</button>
                    </div>
                </div> <!-- send_now_post modal -->
            </div>
        </div>

        <div class="span6">

        </div> <!-- end column -->

    </div> <!-- end row-fluid -->

    <div class="row-fluid">
        <div class="span12"></div>
    </div>
    <br>
    <br>
    <a href="/">Volver al inicio</a>
    <br>
    <br>
    <br>
{% endblock %} <!-- endblock section_body -->

{% block page_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/scheduling/script.js"></script>
{% endblock %}

{% block modal_header %}
    <!-- hola -->
{% endblock %}

{% block modal_body %}
{% endblock %}

{% block right_column %}
{% endblock %}