{% extends 'base.html' %}

{% block section_title %}
    Tweets programados
{% endblock %}

{% block section_body %}


<div class="row-fluid">
    <div class="span8 rounded_box fill_white">
        <div class="span8">
        <h4>Grupos de tweets programados</h4>
        
        <table class="table" id="scheduled_tweet_group_list_table">
            <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Asociar canales
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
            </thead>
            <tbody id="scheduled_tweet_group_list_tbody">
                
            </tbody>
        </table>
        
        <span id="no_scheduled_tweet_groups_message">No hay grupos de tweets programados</span> <br><br>
        
        <a id="add_scheduled_tweet_group_btn" href="#add_scheduled_tweet_group_modal" class="btn btn-primary btn-small" data-toggle='modal'>Crear grupo</a>
    </div>
</div>

<div id="add_scheduled_tweet_group_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <input type="hidden" id="editing_scheduled_tweet_group_id" value="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="scheduled_tweet_group_modal_title">
            Crear grupo de tweets programados
        </h3>
    </div>
    <div class="modal-body">
        <div class="span11">
            <!--<h5></h5>-->
            <table>
                <tr> 
                    <td><label>Nombre del grupo:&nbsp;</label></td>
                    <td><input id="add_scheduled_tweet_group_name" type="text" class="span10" maxlength="64"></td>
                </tr>
            </table>
        </div>

        <div class="span11">
            &nbsp;
            <br>
        </div>
        
        <div id="add_scheduled_tweet_modal" style="display:none"> <!-- nuevo tweet programado -->
            <input type="hidden" id="editing_scheduled_tweet_id">
            
            <h4 id="scheduled_tweet_modal_title">
                Añadir tweet programado
                <br><br>
            </h4>
            <div> <!-- class="modal-body" -->
                <div class="span8">
                    <table>
                        <tr id="scheduled_tweet_status_row">
                            <td>
                                Status:
                            </td>
                            <td> 
                                <a class="no_decoration" id="disable_scheduled_tweet_btn" title="Haga click para desactivar el tweet automático"><span class="label label-success">Activo</span></a>
                                <a class="no_decoration" id="enable_scheduled_tweet_btn" title="Haga click para activar el tweet automático"><span class="label label-important">Inactivo</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="td_right_padding"><label>Mensaje: </label>
                                <span class="float_right" id="tweet_char_count"></span></td><td><textarea id="scheduled_tweet_text"></textarea></td>
                        </tr>
                        <tr>
                            <td><label>Hora de publicación: </label></td>
                            <td><!--<select class="input-mini" id="start_hour_select"></select>-->
                                <!--<select class="input-mini" id="start_minute_select"></select>-->
                                <input type="text" class="input-mini" id="scheduled_tweet_timepicker">
                            </td>
                        </tr>
                    </table>
                    <br>

                </div>

                <div class="span4" id="weekdays_select_div">
                    <label class="checkbox"><input type="checkbox" id="monday_check"> Lunes</label>
                    <label class="checkbox"><input type="checkbox" id="tuesday_check"> Martes</label>
                    <label class="checkbox"><input type="checkbox" id="wednesday_check"> Miércoles</label>
                    <label class="checkbox"><input type="checkbox" id="thursday_check"> Jueves</label>
                    <label class="checkbox"><input type="checkbox" id="friday_check"> Viernes</label>
                    <label class="checkbox"><input type="checkbox" id="saturday_check"> Sábado</label>
                    <label class="checkbox"><input type="checkbox" id="sunday_check"> Domingo</label>
                </div>

            </div>
            <!--
            <div class="span4">
                &nbsp;
            </div>
            <div class="span4">
                &nbsp;
            </div>
            -->
            <div class="span4" class="modal-footer"> <!-- class="modal-footer" -->
                <button class="btn btn-primary" id="save_scheduled_tweet_btn">Guardar</button>
                <button id="close_scheduled_tweet_form" class="btn">Cancelar</button> <!-- data-dismiss="modal" aria-hidden="true" -->
            </div>
        </div> <!-- Add scheduled_tweet modal -->

        <div class="span11" id="scheduled_tweet_table_div">
            <div class="rounded_box fill_gray">
                <h4>Bloques de publicación automática</h4>

                <div id="scheduled_tweet_list">
                    <table class="table" id="scheduled_tweet_list_table">
                        <thead>
                        <tr>
                            <th>Mensaje</th><th>Hora y fecha</th>
                        </tr>
                        </thead>
                        <tbody id="scheduled_tweet_list_tbody">
                        </tbody>

                    </table>
                </div>

                <span id="no_scheduled_tweets_message">
                    Actualmente no hay bloques de publicación automática
                </span>
                <br><br>
                <a id="add_scheduled_tweet_btn" href="#" class="btn btn-primary btn-small" >Agregar tweet programado</a> <!-- href="#add_scheduled_tweet_modal" data-toggle='modal' -->
            </div>
        </div>
    </div> <!-- end span -->
    
    <div class="modal-footer" id="scheduled_tweet_group_modal_footer">
        <button class="btn btn-primary" aria-hidden="true" id="save_scheduled_tweet_group_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- Add scheduled_tweet group modal -->

<div id="delete_scheduled_tweet_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>
        Eliminar mensaje automático
    </h3>
</div>
<div class="modal-body">
    <input type="hidden" id="deleting_scheduled_tweet_id" value="">
    <p>
        Está seguro de que desea eliminar el bloque de publicación seleccionado?
    </p>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_scheduled_tweet_confirmed">Sí, eliminar</button>
</div>
</div> <!-- delete scheduled_tweet modal -->

<div id="send_now_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>
        Enviar ahora
    </h3>
</div>
<div class="modal-body">
    <input type="hidden" id="sending_now_tweet_id" value="">
    <p>
        El siguiente mensaje se publicará de manera inmediata:
    </p>
    <p><blockquote><span class="" id="sending_now_tweet_text"></span></blockquote></p>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="send_now_confirmed">Enviar</button>
</div>
</div> <!-- send_now_post modal -->


<div id="add_channels_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="add_channels_modal_title">
            Asociar grupo a varios canales
        </h3>
    </div>
    <div class="modal-body">
        
        <div class="span11">
            <p>Seleccione uno o más canales para asociarlos a este grupo</p>
            
        </div>
        <!-- 
        <div class="span11">
            &nbsp;
            <br>
        </div>
        -->
        <div class="span11">
            {% if channel_list %}
            <select id="link_channels_select" name="link_channels_select" multiple="multiple">
                {% for channel in channel_list %}
                <option value="{{ channel.screen_name }}">{{ channel.screen_name }}</option>
                {% endfor %}
            </select>
            {% else %}
                <span>No hay canales registrados</span>
            {% endif %}
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_channels_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- link channels group modal -->

<div id="delete_scheduled_tweet_group_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            Eliminar grupo de tweets programados
        </h3>
    </div>
    <div class="modal-body">
        <input type="hidden" id="deleting_scheduled_tweet_group_id" value="">
        <p>
            Está seguro de que desea eliminar el grupo de tweets programados seleccionado?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_scheduled_tweet_group_confirmed">Sí, eliminar</button>
    </div>
</div> <!-- delete scheduled_tweet group modal -->

{% endblock %} <!-- endblock section_body -->

{% block page_scripts %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/scheduling/settings.js"></script>
    <!--
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/script.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/scheduled_tweets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/replacements.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/filters.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/timeblocks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/blocked_users.js"></script>
    -->
{% endblock %}

{% block modal_header %}
    <!-- hola -->
{% endblock %}

{% block modal_body %}
{% endblock %}

{% block right_column %}
{% endblock %}