{% extends 'base.html' %}

{% block section_title %}
    Opciones de canal: @{{ channel.screen_name }}
{% endblock %}

{% block section_body %}
<input type="hidden" id="current_channel" value="{{ channel.screen_name }}" xmlns="http://www.w3.org/1999/html">

<ul class="nav nav-tabs" id="channel_nav">
    {% block nav_bar %}
        <li>
            <a>Dashboard</a>
        </li>
        <li>
            <a href="#">Seguidores</a>
        </li>
        <li id="nav_tab_home" class="active">
            <a href="#">Retweets automáticos</a>
        </li>
        <li>
            <a>Tweets programados</a>
        </li>

        <!--
        <li>
            <a>
                Colaboradores
            </a>
        </li>-->

        <li class="disabled" id="nav_tab_config">
            <!--<a href="#">Configuración</a>-->
        </li><!--
<li class="disabled">
    <a href="#">Messages</a>
</li>
-->
    {% endblock %} <!-- endblock nav_bar -->
</ul>

<div class="row-fluid">
    <div class="span6 rounded_box">
        <h4>Disparadores</h4>

        <table class="table" id="trigger_list_table">
            <thead>
                <tr>
                    <th>Texto</th>
                    <!--<th>Acción</th>-->
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="trigger_list_tbody">
            </tbody>
        </table>

        <span id="no_triggers_message">No hay disparadores asociados al canal</span> <br><br>

        <table><tr>
            <td><input type="text" id="add_trigger_text"></td>
            <td class="button_td"> &nbsp;<a id="add_trigger_btn" href="#" class="btn btn-primary btn-small">Agregar disparador</a></td>
        </tr></table>

        <div id="delete_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">
                    Eliminar Disparador
                </h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleting_trigger_id" value="">
                <p>
                    Está seguro de que desea eliminar el disparador &quot;<span id="deleting_trigger_text"></span>&quot; ?
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_trigger_confirmed">Sí, eliminar</button>
            </div>
        </div>
    </div> <!-- end column -->

    <div class="span6">
    </div>
</div> <!-- end row-fluid -->

<div class="row-fluid">
    <div class="span12"></div>
</div>

<div class="row-fluid">
    <!-- Filters -->
    <div class="span6 rounded_box">
        <h4>Frases no permitidas</h4>

        <table class="table" id="filter_list_table">
            <thead>
            <tr>
                <th>Texto</th>
                <!--<th>Acción</th>-->
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody id="filter_list_tbody">
            </tbody>
        </table>

        <span id="no_filters_message">No hay filtros asociados al canal</span> <br><br>

        <table><tr>
            <td><input type="text" id="add_filter_text"></td>
            <td class="button_td">&nbsp;<a id="add_filter_btn" href="#" class="btn btn-primary btn-small">Agregar filtro</a></td>
        </tr></table>

        <div id="delete_filter_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="FilterModalLabel">
                    Eliminar Filtro
                </h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleting_filter_id" value="">
                <p>
                    Está seguro de que desea eliminar el filtro &quot;<span id="deleting_filter_text"></span>&quot; ?
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_filter_confirmed">Sí, eliminar</button>
            </div>
        </div>
    </div> <!-- end column (span6) -->
    <div class="span6">
    </div>
</div> <!-- end row-fluid -->
<br>
    <br>
<a href="/">Volver al inicio</a>
    <br>
    <br>
    <br>
{% endblock %} <!-- endblock section_body -->

{% block page_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/channels/triggers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/channels/filters.js"></script>
{% endblock %}

{% block modal_header %}
    <!-- hola -->
{% endblock %}

{% block modal_body %}
{% endblock %}

{% block right_column %}
{% endblock %}