{% extends 'base.html' %}

{% block section_title %}
    Sufijos
{% endblock %}

{% block section_body %}


<div class="row-fluid">
    <div class="span8 rounded_box fill_white">
        <div class="span8">
        <h4>Grupos de sufijos</h4>
        
        <table class="table" id="hashtag_group_list_table">
            <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Asociar canales
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
            </thead>
            <tbody id="hashtag_group_list_tbody">
                
            </tbody>
        </table>
        
        <span id="no_hashtag_groups_message">No hay grupos de sufijos</span> <br><br>
        
        <a id="add_hashtag_group_btn" href="#add_hashtag_group_modal" class="btn btn-primary btn-small" data-toggle='modal'>Crear grupo</a>
    </div>
</div>

<div id="add_hashtag_group_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <input type="hidden" id="editing_hashtag_group_id" value="">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="hashtag_group_modal_title">
            Crear grupo de sufijos
        </h3>
    </div>
    <div class="modal-body">
        <div class="span11">
            <!--<h5></h5>-->
            <table>
                <tr>
                    <td><label>Nombre del grupo:&nbsp;</label></td>
                    <td><input id="add_hashtag_group_name" type="text" class="span10" maxlength="64"></td>
                </tr>
            </table>
        </div>

        <div class="span11">
            &nbsp;
            <br>
        </div>
        
        <div id="add_hashtag_modal" style="display:none"> <!-- nuevo sufijo -->
            <input type="hidden" id="editing_hashtag_id">
            
            <h4 id="hashtag_modal_title">
                Añadir sufijo
                <br><br>
            </h4>
            <div> <!-- class="modal-body" -->
                <div class="span7">
                    <h5>Hashtag</h5>
                    <table>
                        <tr>
                            <td><label>Texto:&nbsp;</label></td>
                            <td><input id="add_hashtag_text" type="text" class="span10" maxlength="140"></td>
                        </tr>
                        <tr>
                            <td><label>Cantidad:&nbsp;</label></td>
                            <td><input id="add_hashtag_qty" type="text" class="span4" value="0"></td>
                        </tr>
                        <tr>
                            <td><h5>Horario</h5></td><td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><label>Hora de inicio: </label></td>
                            <td>
                                <input type="text" class="input-mini" id="add_hashtag_start_timepicker">
                            </td>
                        </tr>
                        <tr>
                            <td><label>Hora de fin: </label></td>
                            <td>
                                <input type="text" class="input-mini" id="add_hashtag_end_timepicker">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="span5">

                    <h5>Días de la semana</h5>
                    <label class="checkbox"><input type="checkbox" id="add_hashtag_monday_check"> Lunes</label>
                    <label class="checkbox"><input type="checkbox" id="add_hashtag_tuesday_check"> Martes</label>
                    <label class="checkbox"><input type="checkbox" id="add_hashtag_wednesday_check"> Miércoles</label>
                    <label class="checkbox"><input type="checkbox" id="add_hashtag_thursday_check"> Jueves</label>
                    <label class="checkbox"><input type="checkbox" id="add_hashtag_friday_check"> Viernes</label>
                    <label class="checkbox"><input type="checkbox" id="add_hashtag_saturday_check"> Sábado</label>
                    <label class="checkbox"><input type="checkbox" id="add_hashtag_sunday_check"> Domingo</label>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" id="save_hashtag_btn">Guardar</button>
                    <button class="btn">Cancelar</button>
                </div>

            </div>
            
            <div class="span4" class="modal-footer" id="scheduled_tweet_group_modal_footer"> <!-- class="modal-footer" -->
                <button class="btn btn-primary" id="save_hashtag_btn">Guardar</button>
                <button id="close_hashtag_form" class="btn">Cancelar</button> <!-- data-dismiss="modal" aria-hidden="true" -->
            </div>
        </div> <!-- Add hashtag modal -->

        <div class="span11" id="hashtag_table_div">
            <div class="rounded_box fill_gray">
                <h4>Sufijos</h4>

                <div id="hashtag_list">
                    <span><!-- Descripcion --></span>

                    <table class="table" id="hashtag_list_table">
                        <thead>
                        <tr>
                            <th>Texto</th><th>Cantidad</th><th>Contador</th><!--<th>Horario</th>-->
                        </tr>
                        </thead>
                        <tbody id="hashtag_list_tbody">
                        
                        </tbody>

                    </table>
                </div>

                <span id="no_hashtags_message">
                    Actualmente no hay bloques de publicación automática
                </span>
                <br><br>
                <a id="add_hashtag_btn" href="#" class="btn btn-primary btn-small" >Agregar tweet programado</a> <!-- href="#add_hashtag_modal" data-toggle='modal' -->
            </div>
        </div>
    </div> <!-- end span -->
    
    <div class="modal-footer" id="hashtag_group_modal_footer">
        <button class="btn btn-primary" aria-hidden="true" id="save_hashtag_group_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- Add hashtag group modal -->

<div id="delete_hashtag_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>
        Eliminar mensaje automático
    </h3>
</div>
<div class="modal-body">
    <input type="hidden" id="deleting_hashtag_id" value="">
    <p>
        Está seguro de que desea eliminar el bloque de publicación seleccionado?
    </p>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_hashtag_confirmed">Sí, eliminar</button>
</div>
</div> <!-- delete hashtag modal -->

<div id="send_now_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>
        Enviar ahora
    </h3>
</div>
<div class="modal-body">
    <input type="hidden" id="sending_now_tweet_id" value="">
    <p>
        El siguiente mensaje se publicará de manera inmediata:
    </p>
    <p><blockquote><span class="" id="sending_now_tweet_text"></span></blockquote></p>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="send_now_confirmed">Enviar</button>
</div>
</div> <!-- send_now_post modal -->


<div id="add_channels_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="add_channels_modal_title">
            Asociar grupo a varios canales
        </h3>
    </div>
    <div class="modal-body">
        
        <div class="span11">
            <p>Seleccione uno o más canales para asociarlos a este grupo</p>
            
        </div>
        <!-- 
        <div class="span11">
            &nbsp;
            <br>
        </div>
        -->
        <div class="span11">
            {% if channel_list %}
            <select id="link_channels_select" name="link_channels_select" multiple="multiple">
                {% for channel in channel_list %}
                <option value="{{ channel.screen_name }}">{{ channel.screen_name }}</option>
                {% endfor %}
            </select>
            {% else %}
                <span>No hay canales registrados</span>
            {% endif %}
        </div> <!-- end span -->
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="save_channels_btn">Guardar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div> <!-- link channels group modal -->

<div id="delete_hashtag_group_confirm_modal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            Eliminar grupo de tweets programados
        </h3>
    </div>
    <div class="modal-body">
        <input type="hidden" id="deleting_hashtag_group_id" value="">
        <p>
            Está seguro de que desea eliminar el grupo de tweets programados seleccionado?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="delete_hashtag_group_confirmed">Sí, eliminar</button>
    </div>
</div> <!-- delete hashtag group modal -->

{% endblock %} <!-- endblock section_body -->

{% block page_scripts %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/hashtags/settings.js"></script>
    <!--
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/script.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/hashtags.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/replacements.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/filters.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/timeblocks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/filtering/blocked_users.js"></script>
    -->
{% endblock %}

{% block modal_header %}
    <!-- hola -->
{% endblock %}

{% block modal_body %}
{% endblock %}

{% block right_column %}
{% endblock %}